body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"MS Pゴシック",sans-serif;
}

@mixin marginCenter($width:80%) {
  width: $width;
  margin: 0 auto;
  display: block;
}

@mixin  flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

$navy:#010022;
$light_blue:#D3EDFB;
$main_blue:#2D59E2;
$gray:#EFEFEF;

$fontA:4rem;
$fontB:3rem;
$fontC:2rem;
$fontD:1.5rem;
$fontE:1.2rem;
$fontMain:1.2rem;


header {
  position: relative;

  .h-top {
    background-color: $navy;
    img {
      padding: 2% 0;
      @include marginCenter(15%);
    }
  }

  .h-main {
    width: 100%;
  }

  .top-logo {
    width: 15%;
    position: absolute;
    left: 50%;
    bottom: -30%;
    transform: translate(-50%, -50%);
  }
}



main {
  margin: 200px 0 0 0;

  .m-top {
    @include marginCenter(85%);

    h2 {
      font-size: 2.5rem;
      font-weight: normal;
      text-align: center;
    }

    .contents-img {
      @include marginCenter(80%);
      margin: 50px auto;
    }

    h3 {
      font-size: 1.8rem;
      text-align: center;
      font-weight: normal;
    }

    .box1,.box2 {
      background-color:$light_blue;
      border-radius: 30px;
      padding:  2%;
      text-align: center;
      font-size: $fontMain;
    }
    .box1 {
      @include marginCenter(65%);
      margin: 50px auto;
    }
    .arrow {
      @include marginCenter(5%);
      margin: 0 auto 30px auto;
    }
    .box2 {
      @include marginCenter(80%);
    }


    .news-img {
      @include marginCenter(80%);
      @include flexCenter();
      margin: 30px auto;
      position: relative;

        img {
          @include marginCenter(40%);
        }
  
        p {
          @include marginCenter(90%);
          font-size: 1rem;
        }
    }

    .quarklear {
      h3 {
        text-align: left;
        font-weight: normal;
        font-size: 1.5rem;
        width: 100%;
      }

      .quarklear-box {
        img {
          width: 100%;
        }
      }
    }

  }

  .border-container {
    @include marginCenter(90%);
    @include flexCenter();
    margin: 100px auto 50px auto;

    p {
      font-size: $fontMain;
      margin: 0 5px 0 0;
    }

    .border {
      width: 90%;
      display: block;
      border-radius: 30px;
      border: 4px solid $main_blue;
    }

  }


  section {
    margin: 50px auto;
    width: 100%;
    background-color: $gray;

    .section-container {
      padding: 2% 1%;
    }
    
    h3 {
      margin: 50px 0;
      font-size: 1.5rem;
      font-weight: normal;
    }

    img {
      @include marginCenter(90%);
    }

    p {
      font-size: $fontMain;
      @include marginCenter(70%);
      margin: 30px auto;
    }

    .results {
      @include flexCenter();

      .result {
        p {
          font-size: 1rem;
          margin: 10px auto;
        }

        img {
          @include marginCenter();
        }
      }
      
    }
  }

  .exsample {
    @include marginCenter();

    img {
      width: 100%;
    }

    p {
      font-size: $fontMain;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 0 0 20px 0;
        span {
          display: block;
        }
      }
    }
    
  }

  
  .quarklear-logo {
    @include marginCenter(15%);
    margin: 100px auto;
  }

  .contact {
    @include marginCenter(80%);
    margin: 0 auto 200px auto;


    p {
      text-align: center;
      font-size: 1.5rem;
      margin: 0;
    }

    .top {
      padding: 10px;
      border-radius: 150px;
      border: 3px solid $main_blue;
      @include marginCenter(60%);
      margin: 50px auto;
      
      h1 {
        font-size: 50px;
        font-weight: normal;
        text-align: center;
      }
    }
    
    .bottom {
      background-color: $main_blue;
      color: whitesmoke;
      padding: 5%;
      @include marginCenter(60%);

      p {
        font-size: 2rem;
        text-align: center;
      }
    }

    .form {
      font-size: 1.5rem;
      text-align: right;
      margin: 20px 0;
    }


    
  }

}


footer {
  padding: 2%;
  background-color: $gray;
  @include flexCenter();
  
  .f-img {
    @include marginCenter(50%);
    
    img {
      @include marginCenter(50%);
    }
  }
  .contents {
    width: 50%;

    p {
      font-size: $fontMain;
      margin: 0;
    }
  }
}

